#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #FCFCFC;
}

.shadow-custom {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 8px;
}

.custom-hover:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}

.audio-controls {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  gap: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.audio-progress {
  height: 4px;
}

.audio-progress .progress-bar {
  background-color: black;
}
.custom-position{
  position: fixed;
  top:80%;
  right: 5%;
  width: 455px;
}
.custom-position2{
  position: fixed;
  top:80%;
  left: 5%;
  width: 455px;
}

.adjusted-position{
  position: relative;
  top:-350px;
  width: 300px;
  height:350px;
  overflow: scroll;
}

.adjusted-position1{
  position: relative;
  top:-350px;
  width: 300px;
  height:70px;
  overflow: hidden;
}
.adjusted-position-m{
  position: relative;
  top:-450px;
  width: 300px;
  height:400px;
  overflow: scroll;
  
}
.adjusted-position3{
  position: relative;
  top:-450px;
  width: 300px;
  height:70px;
  overflow: hidden;
  
}
.custom-font-size{
  font-size: 10px;
}
.fs-custom{
  font-size: 15px;
  font-weight: bold;
}
.custom-content{
  background-color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s;
}

.verticle-align{
  transform: rotate(90deg);
  
}
.normal-background{
  background-color:rgb(94, 222, 94);
  border-radius: 5px;
  transition: all .4s ease;
  color: white;

}
.fast-background{
  background-color:rgb(255, 136, 0);

  border-radius: 5px;
  transition: all .4s ease;
  color: white;

}
.very-fast-background{
  background-color:rgb(240, 14, 14);

  border-radius: 5px;
  transition: all .4s ease;
  color: white;

}
.slow-background{
  background-color:rgb(145, 158, 44);

  border-radius: 5px;
  transition: all .4s ease;
  color: white;
}


/* Text to speech two css */
.selected-item {
  background-color: #ebebeb;
  transition: all .3s ease;
}

.selected-item > div > div:last-child > TiTickOutline {
  display: block;

}

.slidecontainer {
  width: 0; /* Width of the outside container */
  margin-top: 20px;
}
.ml-100{
  margin-left: -60px;
}
.mr-100{
  margin-right: 60px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 260px; /* Full-width */
  height: 1px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  transform: rotate(90deg);
  border: 0;
  background: url('/scroll.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 50;
  height: 50px;
  transform: rotate(90deg);
  border: 0;
  background: url('/scroll.png');
  cursor: pointer;
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .custom-position{
    position: fixed;
    top:50%;
    right: 1%;
    width: 320px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .custom-position{
    position: fixed;
    top:50%;
    right: 1%;
    width: 380px;
  }
}

/* Medium devices (tablets, less than 1200px) */
@media (min-width: 768px) and (max-width: 1199.98px) {
  .custom-position{
    position: fixed;
    top:50%;
    right: 1%;
    width: 420px;
  }
}

