#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #FCFCFC;
}

.shadow-custom {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 8px;
}

.custom-hover:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}

.audio-controls {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  gap: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.audio-progress {
  height: 4px;
}

.audio-progress .progress-bar {
  background-color: black;
}
.custom-position{
  position: fixed;
  top:80%;
  right: 5%;
  width: 455px;
}
.custom-position2{
  position: fixed;
  top:80%;
  left: 5%;
  width: 455px;
}
.adjusted-position{
  position: relative;
  top:-300px;
  width: 300px;
  height:300px;
  overflow: scroll;
}
.adjusted-position1{
  position: relative;
  top:-300px;
  width: 300px;
  height:70px;
  overflow: hidden;
}
.custom-font-size{
  font-size: 10px;
}
.custom-content{
  padding: 10px;
  background-color: whitesmoke;
  cursor: pointer;
}
.custom-content:hover {
  background-color: rgb(113, 113, 108);
  color: rgb(242, 243, 243);
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .custom-position{
    position: fixed;
    top:50%;
    right: 1%;
    width: 320px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .custom-position{
    position: fixed;
    top:50%;
    right: 1%;
    width: 380px;
  }
}

/* Medium devices (tablets, less than 1200px) */
@media (min-width: 768px) and (max-width: 1199.98px) {
  .custom-position{
    position: fixed;
    top:50%;
    right: 1%;
    width: 420px;
  }
}

